<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description, :placeholder => "Enter description" %>
    <%= f.collection_select :user_id, User.all, :id, :nickname %>
  </div>
  <p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
