<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :nickname %>
    <%= f.text_field :nickname, :placeholder => "Enter nickname" %>
  </div>
  <p>
    <div class="actions">
      <%= f.submit %>
    </div>
  </p>
<% end %>
