<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nickname %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td>
          <table>
            <tr>
              <td><b>Tasks</b></td>
            </tr>
            <% user.tasks.each do |task| %>
              <tr>
                <td><%= task.description %></td>
              </tr>
            <% end %>
          </table>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
