</p>
<div class='container-fluid'>

  <div class="row">
    <div class="span9">
      <p>
        <%= link_to 'User Listing', users_path %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span9">
      <p>
        <%= link_to 'Task Listing', tasks_path %>
      </p>
    </div>
  </div>
</div>

