<!DOCTYPE html>
<html>
<head>
  <title>Pivot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class='container-fluid'>
  <% flash.each do |key, value| %>
      <div class='alert alert-<%= key %>'><%= value %></div>
    <% end %>
    <div class="container">
      <div class="row"
        <li><%= link_to 'Pivot - Task Tracker built by a server engineer', welcome_index_path %></li>
      </div>
      <div class="row">
        <div class="span9"><%= yield %></div>
      </div>
    </div>
</div>

 <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

</body>

</html>
